@charset "UTF-8";
/* Tags */
body {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	line-height: 120%;
	margin: 0;
	padding: 0;
	font-size: 100%;
}
h1
	{
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 0.6em;
	margin-left: 0;
	line-height: 120%;
	font-size: 250%;
	font-family: Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}
h2
	{
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 0.6em;
	margin-left: 0;
	line-height: 120%;
	font-size: 160%;
	font-family: Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}
h3
	{
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 0.6em;
	margin-left: 0;
	line-height: 120%;
	font-size: 110%;
	font-family: Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}
a:link
	{
	color: #0066FF;
	text-decoration: underline;
}
a:visited
	{
	color: #999999;
	text-decoration: underline;
}
a:hover
	{
	color: #FF3300;
	text-decoration: none;
}
p
	{
	margin-right: 0;
	margin-left: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	line-height: 120%;
}
p.Ingredients, li.Ingredients, div.Ingredients
	{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0.8em;
	margin-left: 5%;
	line-height: 120%;
	font-size: 1em;
	font-style: italic;
	color: #000;
}
img {
	max-width: 100%;
	height:auto;
	border-radius: 4px;
}

/* Page Definitions */
div.Page
	{
	page: WordSection1;
	text-align: left;
	padding: 0px;
	max-width: 1000px;
	width: 85%;
	margin-top: 3em;
	margin-right: auto;
	margin-left: auto;
}
.footer {
	max-width: 1000px;
	width: 85%;
	margin: 0 auto;
	padding: 3em 0;
	text-align: left;
	font-size: 90%;
}
/* List Definitions */
ol, ul, li
	{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Navigations */
.backto {
	font-size: 80%;
	padding-bottom: 2em;
}
#mainnav {
	width: 100%;
	font-size: 90%;
}
#mainnav li {
	display: block;
	width: 20%;
	margin-right: 5%;
	float: left;
	padding: 1em 0;
	height: 100%;
}
#recipesnav, #musicnav, #filmsnav {
	width: 20%;
	margin-right: 5%;
	float: left;
	font-size: 90%;
}
#recipesnav {
	margin-left: 25%;
}
#recipesnav li, #musicnav li, #filmsnav li {
	display: block;
	float: left;
	width: 100%;
}
.navbar {
	margin: 0;
	padding: 0.6em 0;
	background-color: #f0f0f0;
	font-size: 80%;
}
.innavbar {
	max-width: 1000px;
	width: 85%;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}
.clear {
	clear:both;
	/*display:none;*/
}
.navbar li {
	float: left;
	margin-right: 5%;
}
.toc {
	font-size: 90%;
}
